body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color:#45a049;
    border: 2px solid #ddd;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
}

label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    padding-right: 30px;
    background-image: url('https://img.icons8.com/ios-filled/50/000000/down-squared.png');
    background-size: 20px;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}