<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <form action="/" method="post">
        <div>
            <p style="text-align: center; font-size:40px; ">
                ASCİİ ART WEB
            </p>
            <p style="text-align: left;">
                <label for="Enter Your Text" >Enter Your Text:</label>
                <input type="text" name="Enter Your Text" id="Enter Your Text" placeholder="" required>
            </p>


            <p>
                <label for="Select style">Select style:</label>
                <select name="Select style" id="Select style" required>
                    <option value="thinkertoy">Thinkertoy</option>
                    <option value="standard">Standard</option>
                    <option value="shadow">Shadow</option>
                </select>
            </p>

            <br>
            <button>Gönder</button>

        </div>
    </form>

</body>
</html>